# Compiled class files
*.class
*.jar
*.war
*.ear

# Log files
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### VS Code ###
!.vscode/settings.json
.vscode/*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
